<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--servlet de connexion-->
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>servlets.servletconnexion</servlet-class>
    </servlet>
    <!--servlet agenda-->
    <servlet>
        <servlet-name>agenda</servlet-name>
        <servlet-class>servlets.servletagenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer</servlet-name>
        <servlet-class>servlets.servletsupprimeragenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouter</servlet-name>
        <servlet-class>servlets.servletajouteragenda</servlet-class>
    </servlet>
    <!--servlet utilisateur-->
    <servlet>
        <servlet-name>utilisateur</servlet-name>
        <servlet-class>servlets.servletutilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimerutilisateur</servlet-name>
        <servlet-class>servlets.servletsupprimerutilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouterutilisateur</servlet-name>
        <servlet-class>servlets.servletajouterutilisateur</servlet-class>
    </servlet>
    <!--servlet profile-->
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>servlets.servletprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilecp</servlet-name>
        <servlet-class>servlets.sevletprofilecp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileco</servlet-name>
        <servlet-class>servlets.servletprofileco</servlet-class>
    </servlet>
    <!--servlet tachecolab-->
    <servlet>
        <servlet-name>tachecolabmodifier</servlet-name>
        <servlet-class>servlets.servlettachecolabmodifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tachecolabmodifieradm</servlet-name>
        <servlet-class>servlets.servlettachecolabmodifieradm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tachecolabajouter</servlet-name>
        <servlet-class>servlets.servlettachecolabajouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tachecolabajouteradm</servlet-name>
        <servlet-class>servlets.servlettachecolabajouteradm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tachecolabsupprimer</servlet-name>
        <servlet-class>servlets.servlettachcolabsupprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tachecolabsupprimeradm</servlet-name>
        <servlet-class>servlets.tachecolabsupprimeradm</servlet-class>
    </servlet>
    <!--servlet publication-->
    <servlet>
        <servlet-name>publication</servlet-name>
        <servlet-class>servlets.servletajouterpub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimerpub</servlet-name>
        <servlet-class>servlets.servletsupprimerpub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicationadm</servlet-name>
        <servlet-class>servlets.servletajouterpubadm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicationcdp</servlet-name>
        <servlet-class>servlets.servletajouterpubcdp</servlet-class>
    </servlet>
    <!--servlet modtache-->
    <servlet>
        <servlet-name>modtache</servlet-name>
        <servlet-class>servlets.servletmodtache</servlet-class>
    </servlet>
    <!--servlet messagerie-->
    <servlet>
        <servlet-name>messagerie</servlet-name>
        <servlet-class>servlets.servletsupprimermessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messageriecdp</servlet-name>
        <servlet-class>servlets.servletsupprimermessagecp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messagerieco</servlet-name>
        <servlet-class>servlets.servletsupprimermessageco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envoyermessage</servlet-name>
        <servlet-class>servlets.servletenvoyermessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envoyermessagecdp</servlet-name>
        <servlet-class>servlets.servletenvoyermessagecdp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envoyermessageco</servlet-name>
        <servlet-class>servlets.servletenvoyermessageco</servlet-class>
    </servlet>
    <!--mapping connexion-->
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <!--mapping agenda-->
    <servlet-mapping>
        <servlet-name>agenda</servlet-name>
        <url-pattern>/agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer</servlet-name>
        <url-pattern>/supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouter</servlet-name>
        <url-pattern>/ajouter</url-pattern>
    </servlet-mapping>
    <!--mapping utilisateur-->
    <servlet-mapping>
        <servlet-name>utilisateur</servlet-name>
        <url-pattern>/utilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimerutilisateur</servlet-name>
        <url-pattern>/supprimerutilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouterutilisateur</servlet-name>
        <url-pattern>/ajouterutilisateur</url-pattern>
    </servlet-mapping>
    <!--mapping infopers-->
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilecp</servlet-name>
        <url-pattern>/profilecp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileco</servlet-name>
        <url-pattern>/profileco</url-pattern>
    </servlet-mapping>
    <!--mapping tachecolab-->
    <servlet-mapping>
        <servlet-name>tachecolabmodifier</servlet-name>
        <url-pattern>/tachecolab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tachecolabmodifieradm</servlet-name>
        <url-pattern>/tachecolabadm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tachecolabajouter</servlet-name>
        <url-pattern>/tachecolabajouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tachecolabajouteradm</servlet-name>
        <url-pattern>/tachecolabajouteradm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tachecolabsupprimer</servlet-name>
        <url-pattern>/tachecolabsupprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tachecolabsupprimeradm</servlet-name>
        <url-pattern>/tachecolabsupprimeradm</url-pattern>
    </servlet-mapping>
<!--mapping ajouterpub-->
    <servlet-mapping>
        <servlet-name>publication</servlet-name>
        <url-pattern>/publication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimerpub</servlet-name>
        <url-pattern>/supprimerpub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicationadm</servlet-name>
        <url-pattern>/publicationadm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicationcdp</servlet-name>
        <url-pattern>/publicationcdp</url-pattern>
    </servlet-mapping>
<!--mapping modtache-->
    <servlet-mapping>
        <servlet-name>modtache</servlet-name>
        <url-pattern>/modtache</url-pattern>
    </servlet-mapping>
<!--mapping messagerie-->
    <servlet-mapping>
        <servlet-name>messagerie</servlet-name>
        <url-pattern>/messagerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messageriecdp</servlet-name>
        <url-pattern>/messageriecdp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messagerieco</servlet-name>
        <url-pattern>/messagerieco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envoyermessage</servlet-name>
        <url-pattern>/envoyermessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envoyermessagecdp</servlet-name>
        <url-pattern>/envoyermessagecdp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envoyermessageco</servlet-name>
        <url-pattern>/envoyermessageco</url-pattern>
    </servlet-mapping>
</web-app>
